---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

interface Props {
  project: CollectionEntry<'projects'>;
  full?: boolean;
}

import { Link1 } from 'iconsax-astro'
import '@fontsource/oxygen/400.css';
 
const { project, full } = Astro.props;
---

<div class="flex flex-col md:basis-1/3 px-5 py-7">
    <Image src={project.data.image} alt={project.data.title} quality='high' class="w-full h-52 md:h-72 object-cover mb-5 rounded-xl" />
    <div class="flex justify-between">
        <div class="flex flex-col">
            <p class="font-oxygen text-accent">{project.data.positions.join(' - ')}</p>
            <h3 class="font-nunito text-base font-semibold text-color">{project.data.title}</h3>
            <p class="font-nunito text-xs text-color">{project.data.description}</p>
            {full && <p class="font-nunito text-xs text-accent">{project.data.stack.join(' - ')}</p>}
            {!full && <a href=`/projects/${project.data.codename}` class="font-nunito font-semibold text-xs text-accent">Learn more</a>}
        </div>
        {project.data.link && <a href={project.data.link}><button class="icon"><Link1 type="linear" size={22} color="currentColor" class="text-accent" /></button></a>}
    </div>
</div>