---
export interface props {
    codename: string;
    image: string;
    positions: string[];
    title: string;
    description: string;
    link: string | undefined;
    technologies: string[];
    full: boolean;
}

import Link from '../components/icons/Link.astro';
import '@fontsource/oxygen/400.css';
 
const {codename, imagesrc, positions, title, description, link, technologies, full } = Astro.props;
---

<div class="flex flex-col xl:w-1/4 px-5 py-7">
    <img src={imagesrc} alt={title} class="w-full h-52 object-cover object-center mb-5 rounded-xl" />
    <div class="flex justify-between">
        <p class="w-2/3 font-oxygen text-accent">{positions.join(' - ')}</p>
        {link && <a href={link}><button class="icon"><Link /></button></a>}
    </div>
    <h3 class="font-nunito text-base font-semibold text-color">{title}</h3>
    <p class="font-nunito text-xs text-color">{description}</p>
    <a href=`/${codename}` class="font-nunito font-semibold text-xs text-accent">Learn more</a>
    {full && <div class="flex flex-wrap mt-5">
        {technologies.map(tech => <p class="font-nunito text-xs text-accent mr-2">{tech}</p>)}
    </div>}
</div>