---
import type { CollectionEntry } from 'astro:content';
interface Props {
  reco: CollectionEntry<'projects'>;
}

import '@fontsource-variable/nunito';

const { reco } = Astro.props;
---

<div class="font-nunito xl:w-max flex flex-col gap-3 px-5 py-5 text-color bg-accent-light/30 dark:bg-accent-dark/30 rounded-xl">
    <div class="flex gap-2 items-center">
        <img src={reco.data.image} alt={reco.data.name} class="rounded-full h-16 object-cover w-auto aspect-square" />
        <div class="flex flex-col">
            <p class="font-medium text-xs text-color">{reco.data.name}</p>
            <p class="text-tiny text-dark/60 dark:text-light/60">{reco.data.position}</p>
        </div>
    </div>
    <p class="font-sm italic">{reco.data.text}</p>
</div>